Repository gdwmw/Fullstack-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

.lintstagedrc:

{
  "apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}": [
    "bash -c 'cd apps/next && eslint --fix'",
    "bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0'",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,mjs,cjs,json,css}": ["prettier --write"]
}

build: 📦️ update dependencies
  apps/next/package.json
  apps/strapi/package.json
  package.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

build: 📦️ update dependencies
  apps/strapi/package.json
  pnpm-lock.yaml
Due: prettier --write

build: 📦️ update dependencies
  apps/next/package.json
  apps/strapi/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 🔧 eslint
  apps/next/src/components/elements/example/A/ExampleA.spec.tsx
  apps/next/src/components/elements/example/B/ExampleB.spec.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 boilerplate
  apps/next/configs/authentication/index.ts
  apps/next/package.json
  apps/next/src/helpers/api/authentication/index.ts
  apps/next/src/helpers/api/authentication/login/index.ts
  apps/next/src/helpers/api/authentication/register/index.ts
  apps/next/src/helpers/api/base/index.ts
  apps/next/src/helpers/api/data/index.ts
  apps/next/src/helpers/api/example/index.ts
  apps/next/src/helpers/api/index.ts
  apps/next/src/helpers/api/password/index.ts
  apps/next/src/helpers/api/upload/index.ts
  apps/next/src/helpers/api/user/index.ts
  apps/next/src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  apps/next/src/layouts/example/index.tsx
  apps/next/src/layouts/example/modules/aside/index.tsx
  apps/next/src/layouts/example/pages/example/index.tsx
  apps/next/src/layouts/example/pages/example/modules/aside/index.tsx
  apps/next/src/layouts/home/index.tsx
  apps/next/src/layouts/home/modules/aside/index.tsx
  apps/next/src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  apps/next/src/libs/constants/authentication/index.ts
  apps/next/src/types/api/index.ts
  apps/next/src/types/index.ts
  apps/next/src/types/next-auth.d.ts
  apps/strapi/package.json
  apps/strapi/types/generated/contentTypes.d.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 boilerplate
  .vscode/extensions.json
  .vscode/settings.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 💡 boilerplate
  apps/next/package.json
  apps/strapi/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 💡 boilerplate
  packages/eslint-config/next.js
Due: prettier --write

refactor: 💡 boilerplate
  apps/next/.env.example
  apps/next/src/app/layout.tsx
  apps/next/src/context/index.ts
  apps/next/src/helpers/api/authentication/login/index.ts
  apps/next/src/helpers/api/authentication/register/index.ts
  apps/next/src/helpers/api/base/index.ts
  apps/next/src/helpers/api/data/index.ts
  apps/next/src/helpers/api/example/index.ts
  apps/next/src/helpers/api/upload/index.ts
  apps/next/src/helpers/api/user/index.ts
  apps/next/src/layouts/profile/modules/main/batches/content/index.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 auth config
  apps/next/configs/authentication/index.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 state
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 change icon to lucide
  apps/next/package.json
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/_layout/modules/main/index-example.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/components/elements/example/A/ExampleA.spec.tsx
  apps/next/src/components/elements/example/A/ExampleA.stories.tsx
  apps/next/src/components/elements/example/B/ExampleB.spec.tsx
  apps/next/src/components/elements/example/B/stories/ExampleB.stories.tsx
  apps/next/src/components/elements/example/C/ExampleC.spec.tsx
  apps/next/src/components/elements/example/C/elements/label/index.tsx
  apps/next/src/components/elements/example/C/stories/ExampleC.stories.tsx
  apps/next/src/components/templates/api-connection-checker/index.tsx
  apps/next/src/components/templates/avatar/index.tsx
  apps/next/src/components/templates/change-theme-button/index.tsx
  apps/next/src/components/templates/form-container/index.tsx
  apps/next/src/components/templates/logout-button/index.tsx
  pnpm-lock.yaml
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 boilerplate
  apps/strapi/package.json
  package.json
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

build: 📦️ update dependencies
  apps/next/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 💡 boilerplate
  .prettierrc.js
  apps/next/README.md
  apps/next/package.json
Due: prettier --write

refactor: 💡 boilerplate
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/schema.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/schema.ts
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/schema.ts
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/schema.ts
  apps/next/src/app/layout.tsx
  apps/next/src/constants/index.ts
  apps/next/src/constants/schemaMessage.ts
  apps/next/src/utils/api/authentication/login.ts
  apps/next/src/utils/api/authentication/register.ts
  apps/next/src/utils/api/base.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 elysiajs integration
  apps/next/README.md
  apps/next/configs/authentication.ts
  apps/next/next.config.ts
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/schema.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/schema.ts
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/schema.ts
  apps/next/src/components/templates/Avatar.tsx
  apps/next/src/components/templates/LogoutButton.tsx
  apps/next/src/constants/authentication.ts
  apps/next/src/proxy.ts
  apps/next/src/types/authentication.ts
  apps/next/src/types/index.ts
  apps/next/src/utils/api/authentication/index.ts
  apps/next/src/utils/api/authentication/login.ts
  apps/next/src/utils/api/authentication/logout.ts
  apps/next/src/utils/api/authentication/password.ts
  apps/next/src/utils/api/authentication/register.ts
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/api/data.ts
  apps/next/src/utils/api/example.ts
  apps/next/src/utils/api/index.ts
  apps/next/src/utils/api/password.ts
  apps/next/src/utils/api/upload.ts
  apps/next/src/utils/api/user.ts
  apps/next/src/utils/api/users.ts
  apps/next/src/utils/formatter.ts
  apps/next/src/utils/server/getImageBase64.ts
  apps/next/src/utils/server/index.ts
  apps/next/src/utils/server/session.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

docs: 📝 readme
  README.md
  public/project/4.png
  public/project/5.png
  public/project/6.png
Due: none

docs: 📝 readme
  README.md
Due: none

refactor: 💡 boilerplate
  apps/elysia/.env.example
  apps/elysia/eslint.config.mjs
  apps/elysia/tsconfig.json
  apps/next/.env.example
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

chore: ⚙️ next config
  apps/next/next.config.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 logout
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 refresh token
  apps/elysia/.env.example
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/tsconfig.json
  apps/next/.env.example
Due: prettier --write

refactor: 💡 refresh token
  apps/elysia/.env.example
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/tsconfig.json
  apps/next/.env.example
  apps/next/configs/authentication.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/authentication/index.ts
  apps/next/src/utils/api/base.ts
  turbo.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 remove dummy
  apps/next/configs/authentication.ts
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/components/templates/LogoutButton.tsx
  apps/next/src/constants/authentication.ts
  apps/next/src/constants/index.ts
  apps/next/src/utils/api/authentication/index.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 size example page
  apps/next/src/app/(example)/admin-example/page.tsx
  apps/next/src/app/(example)/user-example/page.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 refresh token
  apps/next/configs/authentication.ts
  apps/next/src/utils/api/authentication/index.ts
  apps/next/src/utils/api/authentication/refresh.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 example
  apps/elysia/src/api/auth/service.ts
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/(example)/admin-example/page.tsx
  apps/next/src/app/(example)/user-example/page.tsx
  apps/next/src/app/_layout/modules/main/index-example.tsx
  apps/next/src/components/elements/example/C/ExampleSelect.tsx
  apps/next/src/components/elements/example/C/ExampleTextArea.tsx
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/components/templates/FormContainer.tsx
  apps/next/src/utils/api/authentication/index.ts
  apps/next/src/utils/api/authentication/me.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 auth
  apps/elysia/.env.example
  apps/elysia/package.json
  apps/elysia/prisma/migrations/20260428082535/migration.sql
  apps/elysia/prisma/models/users.prisma
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/src/constants/omits.ts
  apps/elysia/src/index.ts
  apps/elysia/src/libs/index.ts
  apps/elysia/src/libs/redis.ts
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/elysia/src/utils/verifyAccessToken.ts
  apps/next/configs/authentication.ts
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/components/templates/LogoutButton.tsx
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/authentication/index.ts
  pnpm-lock.yaml
  turbo.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ git ignore
  .gitignore
Due: none

feat: 🎉 template log
  apps/elysia/src/index.ts
  apps/elysia/src/libs/redis.ts
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/hooks/useLocalStorage.ts
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/server/getImageBase64.ts
  packages/utils/src/index.ts
  packages/utils/src/parseDurationToMs.ts
  packages/utils/src/templateLog.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

docs: 📝 readme
  README.md
  public/project/1.png
  public/project/2.png
  public/project/3.png
  public/project/4.png
  public/project/5.png
  public/project/6.png
Due: none
