Repository gdwmw/Fullstack-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

.lintstagedrc:

{
  "apps/nextjs/**/*.{js,jsx,ts,tsx,mjs,cjs}": [
    "eslint --config ./apps/nextjs/eslint.config.mjs --fix",
    "eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,mjs,cjs,json,css}": ["prettier --write"]
}

build: 📦️ update dependencies
  apps/nextjs/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎉 github actions
  .github/workflows/sync-main.yml
Due: none

refactor: 💡 eslint and storybook
  apps/nextjs/.storybook/main.ts
  apps/nextjs/.storybook/stories/Button.stories.ts
  apps/nextjs/.storybook/stories/Button.tsx
  apps/nextjs/.storybook/stories/Header.stories.ts
  apps/nextjs/.storybook/stories/Header.tsx
  apps/nextjs/.storybook/stories/Page.stories.ts
  apps/nextjs/.storybook/stories/Page.tsx
  apps/nextjs/.storybook/stories/assets/accessibility.png
  apps/nextjs/.storybook/stories/assets/accessibility.svg
  apps/nextjs/.storybook/stories/assets/addon-library.png
  apps/nextjs/.storybook/stories/assets/assets.png
  apps/nextjs/.storybook/stories/assets/avif-test-image.avif
  apps/nextjs/.storybook/stories/assets/context.png
  apps/nextjs/.storybook/stories/assets/discord.svg
  apps/nextjs/.storybook/stories/assets/docs.png
  apps/nextjs/.storybook/stories/assets/figma-plugin.png
  apps/nextjs/.storybook/stories/assets/github.svg
  apps/nextjs/.storybook/stories/assets/share.png
  apps/nextjs/.storybook/stories/assets/styling.png
  apps/nextjs/.storybook/stories/assets/testing.png
  apps/nextjs/.storybook/stories/assets/theming.png
  apps/nextjs/.storybook/stories/assets/tutorials.svg
  apps/nextjs/.storybook/stories/assets/youtube.svg
  apps/nextjs/.storybook/stories/button.css
  apps/nextjs/.storybook/stories/header.css
  apps/nextjs/.storybook/stories/page.css
  apps/nextjs/eslint.config.mjs
  apps/nextjs/package.json
  package.json
  pnpm-lock.yaml
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

refactor: 💡 utils api use axios
  apps/nextjs/src/utils/api/base/index.ts
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

refactor: 💡 helper
  apps/nextjs/src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  apps/nextjs/src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  apps/nextjs/src/utils/helpers/index.ts
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

build: 📦️ update dependencies
  apps/nextjs/package.json
  apps/strapi/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: ⚙️ allowed dev origins
  apps/nextjs/next.config.ts
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

refactor: 💡 api checker
  apps/nextjs/src/components/templates/api-connection-checker/index.tsx
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

refactor: 💡 metadata
  apps/nextjs/public/assets/images/logos/Vercel.png
  apps/nextjs/src/app/page.tsx
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

chore: ⚙️ next config
  apps/nextjs/next.config.ts
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

chore: ⚙️ eslint config
  apps/nextjs/eslint.config.mjs
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

build: 📦️ update dependencies
  .commitlintrc.cjs
  .lintstagedrc
  .prettierignore
  .prettierrc.js
  apps/nextjs/docs/example.postman_collection.json
  apps/nextjs/package.json
  apps/strapi/config/admin.ts
  apps/strapi/config/database.ts
  apps/strapi/config/middlewares.ts
  apps/strapi/config/server.ts
  apps/strapi/package.json
  apps/strapi/src/admin/app.example.tsx
  apps/strapi/src/admin/vite.config.example.ts
  apps/strapi/src/api/data/content-types/data/schema.json
  apps/strapi/src/api/data/controllers/data.ts
  apps/strapi/src/api/data/routes/data.ts
  apps/strapi/src/api/data/services/data.ts
  apps/strapi/types/generated/contentTypes.d.ts
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

build: 📦️ typescript eslint
  apps/nextjs/eslint.config.mjs
  apps/nextjs/package.json
  pnpm-lock.yaml
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

chore: ⚙️ prettierrc
  apps/nextjs/.prettierrc.js
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

build: 📦️ update dependencies
  apps/nextjs/package.json
  apps/strapi/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: ⚙️ .vscode
  .vscode/extensions.json
  .vscode/settings.json
Due: prettier --write

fix: 🔧 formatter
  apps/nextjs/.prettierrc.js
  apps/nextjs/configs/authentication/index.ts
  apps/nextjs/eslint.config.mjs
  apps/nextjs/src/app/(example)/admin-example/page.tsx
  apps/nextjs/src/app/(example)/user-example/page.tsx
  apps/nextjs/src/components/elements/example/C/ExampleC.spec.tsx
  apps/nextjs/src/components/elements/example/C/input/index.tsx
  apps/nextjs/src/components/elements/example/C/select/index.tsx
  apps/nextjs/src/components/elements/example/C/text-area/index.tsx
  apps/nextjs/src/helpers/api/authentication/login/index.ts
  apps/nextjs/src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  apps/nextjs/src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  apps/nextjs/src/layouts/home/modules/main/index-example.tsx
  apps/nextjs/src/layouts/profile/modules/main/batches/content/index.tsx
  apps/nextjs/src/schemas/authentication/index.ts
  apps/nextjs/src/schemas/password/index.ts
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

chore: ⚙️ settings.json
  .vscode/settings.json
Due: prettier --write

build: 📦️ update dependencies
  apps/strapi/package.json
  pnpm-lock.yaml
Due: prettier --write

build: 📦️ update dependencies
  apps/nextjs/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 💡 helpers api base
  apps/nextjs/src/helpers/api/base/index.ts
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

refactor: 💡 error message
  apps/nextjs/src/helpers/formatter/index.ts
  apps/nextjs/src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  apps/nextjs/src/layouts/password/pages/change/modules/main/batches/content/index.tsx
  apps/nextjs/src/types/api/index.ts
  apps/strapi/types/generated/contentTypes.d.ts
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

style: ✨ code
  apps/nextjs/src/app/(example)/admin-example/page.tsx
  apps/nextjs/src/app/(example)/user-example/page.tsx
  apps/nextjs/src/components/elements/example/C/ExampleC.spec.tsx
  apps/nextjs/src/helpers/api/authentication/login/index.ts
  apps/nextjs/src/layouts/authentication/pages/login/modules/main/batches/content/index.tsx
  apps/nextjs/src/layouts/authentication/pages/register/modules/main/batches/content/index.tsx
  apps/nextjs/src/layouts/home/modules/main/index-example.tsx
  apps/nextjs/src/layouts/profile/modules/main/batches/content/index.tsx
  apps/nextjs/src/schemas/authentication/index.ts
  apps/nextjs/src/schemas/password/index.ts
  apps/nextjs/src/types/api/index.ts
Due: eslint --config ./apps/nextjs/eslint.config.mjs --fix, eslint --config ./apps/nextjs/eslint.config.mjs --max-warnings 0, prettier --write

build: 📦️ update all
  .lintstagedrc
  .vscode/extensions.json
  .vscode/settings.json
  apps/next/.storybook/main.ts
  apps/next/.storybook/preview.ts
  apps/next/LICENSE
  apps/next/eslint.config.mjs
  apps/next/package.json
  apps/next/postcss.config.mjs
  apps/next/src/app/globals.css
  apps/next/src/app/layout.tsx
  apps/next/src/components/elements/example/A/ExampleA.spec.tsx
  apps/next/src/components/elements/example/A/ExampleA.stories.tsx
  apps/next/src/components/elements/example/A/index.tsx
  apps/next/src/components/elements/example/B/ExampleB.spec.tsx
  apps/next/src/components/elements/example/B/stories/ExampleB.stories.tsx
  apps/next/src/components/elements/example/C/datepicker/index.tsx
  apps/next/src/components/elements/example/C/elements/label/index.tsx
  apps/next/src/components/elements/example/C/input/index.tsx
  apps/next/src/components/elements/example/C/select/index.tsx
  apps/next/src/components/elements/example/C/stories/ExampleC.stories.tsx
  apps/next/src/components/elements/example/C/text-area/index.tsx
  apps/next/src/components/templates/api-connection-checker/index.tsx
  apps/next/src/components/templates/form-container/index.tsx
  apps/next/src/hooks/ui/toast/index.ts
  apps/next/src/hooks/utils/local-storage/index.ts
  apps/next/src/hooks/utils/window-size/index.ts
  apps/next/src/proxy.ts
  apps/next/tailwind.config.ts
  apps/next/todo.md
  apps/next/tsconfig.json
  package.json
  packages/eslint-config/base.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

chore: ⚙️ auth
  apps/next/configs/authentication/index.ts
Due: prettier --write

chore: ⚙️ .vscode
  .vscode/extensions.json
Due: prettier --write

refactor: 💡 types
  apps/next/src/types/api/index.ts
Due: prettier --write

docs: 📝 readme
  apps/next/README.md
Due: none

build: 📦️ update dependencies
  apps/next/package.json
  apps/strapi/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: ⚙️ disabled better-tailwindcss/enforce-consistent-class-order
  packages/eslint-config/next.js
Due: prettier --write
