Repository gdwmw/Fullstack-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 boilerplate
  apps/elysia/eslint.config.mjs
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/utils/handle-prisma-error/extract.ts
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/elysia/src/utils/plugins/corsPlugin.ts
  apps/next/configs/authentication.ts
  apps/next/eslint.config.mjs
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/app/layout.tsx
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/components/templates/ChangeThemeButton.tsx
  apps/next/src/hooks/test/useLocalStorage.spec.ts
  apps/next/src/hooks/test/useWindowSize.spec.ts
  apps/next/src/hooks/useLocalStorage.ts
  apps/next/src/hooks/useWindowSize.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/formatter.ts
  apps/next/src/utils/test/formatter.spec.ts
  packages/constants/eslint.config.mjs
  packages/eslint-config/eslint.config.mjs
  packages/eslint-config/src/base.js
  packages/utils/eslint.config.mjs
  packages/utils/src/parseDurationToMs.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

docs: 📝 readme
  README.md
  public/project/6.png
Due: none

feat: 🎉 vitest
  apps/elysia/package.json
  apps/elysia/tsconfig.json
  apps/elysia/vitest.config.ts
  apps/elysia/vitest.setup.ts
  apps/next/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: 🎉 unit test
  apps/elysia/src/constants/test/omits.spec.ts
  apps/elysia/src/constants/test/responseMessage.spec.ts
  apps/elysia/src/constants/test/responseTemplate.spec.ts
  apps/elysia/src/utils/test/extract.spec.ts
  apps/elysia/src/utils/test/handlePrismaError.spec.ts
  apps/elysia/src/utils/test/verifyAccessToken.spec.ts
Due: prettier --write

refactor: 💡 redo done
  .vscode/settings.json
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/next/src/components/elements/example/A/ExampleA.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

feat: 🎉 sonar qube
  .env.example
  .husky/pre-push
  .scannerwork/.sonar_lock
  .scannerwork/report-task.txt
  apps/elysia/src/utils/test/verifyAccessToken.spec.ts
  package.json
Due: prettier --write

docs: 📝 readme
  .env.example
  .husky/pre-push
  .scannerwork/report-task.txt
  README.md
  package.json
  public/project/6.png
Due: prettier --write

build: 📦️ update dependencies
  apps/next/src/app/_example/modules/useLocalContext.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 auth
  apps/next/src/utils/api/authentication/index.ts
  apps/next/src/utils/api/authentication/login.ts
  apps/next/src/utils/api/authentication/me.ts
  apps/next/src/utils/api/authentication/password.ts
  apps/next/src/utils/api/authentication/register.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ auth config
  apps/next/configs/authentication.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 types
  apps/next/src/utils/api/users.ts
  apps/next/src/utils/server/session.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 types
  apps/next/configs/authentication.ts
  apps/next/src/utils/api/authentication/index.ts
  apps/next/src/utils/api/authentication/login.ts
  apps/next/src/utils/api/authentication/register.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 simplify session
  apps/next/configs/authentication.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/authentication/index.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 auth
  apps/next/configs/authentication.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/authentication/index.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ package.json
  package.json
Due: prettier --write

chore: ⚙️ turbo.json
  turbo.json
Due: prettier --write

refactor: 💡 auth
  apps/next/package.json
  apps/next/src/app/layout.tsx
  apps/next/src/utils/api/authentication/login.ts
  apps/next/src/utils/api/authentication/logout.ts
  apps/next/src/utils/api/authentication/me.ts
  apps/next/src/utils/api/authentication/password.ts
  apps/next/src/utils/api/authentication/refresh.ts
  apps/next/src/utils/api/authentication/register.ts
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/api/example.ts
  apps/next/src/utils/api/upload.ts
  apps/next/src/utils/api/users.ts
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  turbo.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 env
  apps/elysia/.env.example
  apps/elysia/src/api/auth/route.ts
  apps/next/src/app/layout.tsx
  apps/next/src/utils/api/base.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ example env
  apps/elysia/.env.example
Due: none

feat: 🎉 backup db and log
  .vscode/extensions.json
  apps/elysia/.env.example
  apps/elysia/.gitignore
  apps/elysia/src/index.ts
  apps/elysia/src/libs/redis.ts
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/elysia/src/utils/worker/cleanupLogsWorker.ts
  apps/elysia/src/utils/worker/databaseBackupWorker.ts
  apps/elysia/src/utils/worker/index.ts
  turbo.json
Due: prettier --write

feat: 🎉 audit
  apps/elysia/prisma/migrations/20260501170832/migration.sql
  apps/elysia/prisma/migrations/20260506190857/migration.sql
  apps/elysia/src/api/audit/index.ts
  apps/elysia/src/api/audit/route.ts
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/api/audit/type.ts
  apps/elysia/src/api/index.ts
  apps/elysia/src/index.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/next/src/app/(authed)/(admin)/.gitkeep
  apps/next/src/app/(authed)/(admin)/audit/_layout/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/index.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/page.tsx
  apps/next/src/app/_layout/modules/main/index-example.tsx
  apps/next/src/components/elements/example/A/ExampleA.tsx
  apps/next/src/proxy.ts
  apps/next/src/utils/api/audit.ts
  apps/next/src/utils/api/index.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

feat: 🎉 log compress
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/utils/index.ts
  apps/elysia/src/utils/logCompression.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/elysia/src/utils/worker/cleanupLogsWorker.ts
Due: prettier --write

fix: 🔧 test
  apps/elysia/src/utils/test/handlePrismaError.spec.ts
Due: prettier --write

refactor: 💡 audit
  .husky/commit-msg
  apps/elysia/src/api/audit/route.ts
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/api/audit/type.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/next/package.json
  apps/next/src/app/(authed)/(admin)/audit/_layout/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/batches/index.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/batches/modal/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditArchiveList.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditPagination.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditTable.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/index.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/page.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/(example)/admin-example/page.tsx
  apps/next/src/app/(example)/user-example/page.tsx
  apps/next/src/app/_layout/modules/main/index-example.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/components/templates/Container.tsx
  apps/next/src/components/templates/Header.tsx
  apps/next/src/components/templates/index.ts
  apps/next/src/utils/api/audit.ts
  package.json
  packages/eslint-config/package.json
  packages/eslint-config/src/next.js
  pnpm-lock.yaml
  turbo.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 audit
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/api/audit/type.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
Due: prettier --write

docs: 📝 readme
  README.md
  public/project/1.png
  public/project/2.png
  public/project/3.png
  public/project/4.png
  public/project/5.png
  public/project/6.png
  public/project/7.png
Due: none

docs: 📝 readme
  README.md
Due: none

feat: 🎉 zstd
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/index.ts
  apps/elysia/src/utils/logCompression.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/batches/modal/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditTable.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

feat: 🎉 meta
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/constants/responseTemplate.ts
  apps/elysia/src/index.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditPagination.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/utils/api/audit.ts
  apps/next/src/utils/api/base.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

build: 📦️ update dependencies
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

test: 🧪 fix
  apps/elysia/src/constants/test/responseTemplate.spec.ts
Due: prettier --write

feat: 🎉 database compression
  apps/elysia/src/utils/worker/databaseBackupWorker.ts
Due: prettier --write

refactor(security): 💡 env
  AUDIT.md
  apps/elysia/.env.example
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/config/env.ts
  apps/elysia/src/index.ts
  apps/elysia/src/libs/pino.ts
  apps/elysia/src/libs/prisma.ts
  apps/elysia/src/libs/redis.ts
  apps/elysia/src/utils/logCompression.ts
  apps/elysia/src/utils/plugins/corsPlugin.ts
  apps/elysia/src/utils/plugins/jwtPlugin.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/elysia/src/utils/worker/cleanupLogsWorker.ts
  apps/elysia/src/utils/worker/databaseBackupWorker.ts
  apps/next/configs/authentication.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/layout.tsx
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/config/env.client.ts
  apps/next/src/config/env.server.ts
  apps/next/src/config/index.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/base.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 tsconfig
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/elysia/src/utils/verifyAccessToken.ts
  apps/elysia/tsconfig.json
  apps/next/src/hooks/test/useToast.spec.ts
  packages/utils/src/parseDurationToMs.ts
  tsconfig.base.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ lintstagedrc
  .lintstagedrc
Due: none

refactor: 💡 auth schemas
  AUDIT.md
  apps/elysia/package.json
  apps/elysia/src/api/auth/schema.ts
  apps/elysia/tsconfig.json
  apps/next/package.json
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/schema.ts
  apps/next/src/app/authentication/login/_layout/modules/schema.ts
  apps/next/src/app/authentication/register/_layout/modules/schema.ts
  apps/next/src/config/index.ts
  apps/next/tsconfig.json
  packages/schemas/eslint.config.mjs
  packages/schemas/package.json
  packages/schemas/src/auth.ts
  packages/schemas/src/index.ts
  packages/schemas/tsconfig.json
  pnpm-lock.yaml
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 log template
  packages/utils/package.json
  packages/utils/src/logTemplate.ts
  packages/utils/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 💡 eslint config
  packages/eslint-config/src/next.js
  packages/eslint-config/src/utils.js
Due: prettier --write

refactor(security): 💡 env
  AUDIT.md
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/constants/test/omits.spec.ts
  apps/elysia/src/constants/test/responseMessage.spec.ts
  apps/elysia/src/constants/test/responseTemplate.spec.ts
  apps/elysia/src/environment.ts
  apps/elysia/src/libs/pino.ts
  apps/elysia/src/libs/prisma.ts
  apps/elysia/src/libs/redis.ts
  apps/elysia/src/utils/logCompression.ts
  apps/elysia/src/utils/plugins/corsPlugin.ts
  apps/elysia/src/utils/plugins/jwtPlugin.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/elysia/src/utils/worker/cleanupLogsWorker.ts
  apps/elysia/src/utils/worker/databaseBackupWorker.ts
  apps/next/configs/authentication.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/environments/env.client.ts
  apps/next/src/environments/env.server.ts
  apps/next/src/environments/index.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/base.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

Path conditions:
  bash -c 'cd apps/next && eslint --fix': any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}
  bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0': any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: (any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{js,jsx,ts,tsx,mjs,cjs,json,css})
