Repository gdwmw/Fullstack-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

.lintstagedrc:

{
  "apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}": [
    "bash -c 'cd apps/next && eslint --fix'",
    "bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0'",
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx,mjs,cjs,json,css}": ["prettier --write"]
}

feat: 🎉 pino
  apps/elysia/.env.example
  apps/elysia/package.json
  apps/elysia/src/index.ts
  apps/elysia/src/libs/index.ts
  apps/elysia/src/libs/logger.ts
  apps/elysia/src/libs/redis.ts
  apps/next/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

refactor: 💡 jest
  apps/next/src/components/elements/example/A/ExampleA.spec.tsx
  apps/next/src/components/elements/example/B/ExampleB.spec.tsx
  apps/next/src/components/elements/example/C/ExampleC.spec.tsx
  apps/next/src/hooks/test/useLocalStorage.spec.ts
  apps/next/src/hooks/test/useModal.spec.ts
  apps/next/src/hooks/test/useToast.spec.ts
  apps/next/src/hooks/test/useToggle.spec.ts
  apps/next/src/hooks/test/useWindowSize.spec.ts
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/test/formatter.spec.ts
  apps/next/src/utils/test/math.spec.ts
  apps/next/src/utils/test/validations.spec.ts
  pnpm-lock.yaml
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

docs: 📝 image
  public/project/2.png
Due: none

refactor: 💡 variable
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/schema.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/schema.ts
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/schema.ts
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/schema.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

feat: 🎉 jotai
  apps/next/package.json
  apps/next/src/context/useGlobalContext.ts
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 eslint
  .lintstagedrc
  apps/next/configs/authentication.ts
  apps/next/src/hooks/useToast.ts
  packages/eslint-config/base.js
  packages/eslint-config/elysia.js
  packages/eslint-config/next.js
  packages/eslint-config/package.json
  packages/eslint-config/utils.js
  packages/utils/eslint.config.mjs
  packages/utils/package.json
  packages/utils/src/templateLog.ts
  pnpm-lock.yaml
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 tsconfig
  apps/elysia/tsconfig.json
  apps/next/tsconfig.json
  packages/utils/package.json
  packages/utils/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: prettier --write

docs: 📝 readme
  README.md
  apps/elysia/LICENSE
  apps/elysia/README.md
  apps/next/LICENSE
  apps/next/README.md
Due: none

refactor: 💡 response to lower case
  apps/elysia/src/api/auth/schema.ts
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/src/api/upload/schema.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/users/swagger.ts
  apps/elysia/src/constants/responseMessage.ts
  apps/elysia/src/constants/schemaMessage.ts
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
Due: prettier --write

docs: 📝 readme
  README.md
  apps/elysia/src/api/auth/README.md
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/upload/README.md
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/users/README.md
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/api/users/service.ts
Due: prettier --write

refactor: 💡 example
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/schema.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/schema.ts
  apps/next/src/app/_example/modules/schema.ts
  apps/next/src/app/_example/modules/useLocalContext.ts
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/schema.ts
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/schema.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 use react query
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  packages/eslint-config/next.js
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 react query dehydrated state
  apps/next/src/app/(authed)/(user)/profile/_layout/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/libs/providers/ReactQueryProvider.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 remove unused error message
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/constants/responseTemplate.ts
  apps/elysia/src/utils/verifyAccessToken.ts
  apps/next/src/utils/api/base.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 eslint
  .vscode/settings.json
Due: prettier --write

docs: 📝 swagger
  apps/elysia/src/api/auth/README.md
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/src/api/upload/README.md
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/users/README.md
  apps/elysia/src/api/users/swagger.ts
  apps/elysia/src/constants/responseMessage.ts
  apps/elysia/src/libs/logger.ts
Due: prettier --write

refactor: 💡 packages
  .lintstagedrc
  apps/elysia/.prettierignore
  apps/elysia/.prettierrc.js
  apps/elysia/eslint.config.mjs
  apps/elysia/package.json
  apps/next/eslint.config.mjs
  apps/next/package.json
  package.json
  packages/constants/eslint.config.mjs
  packages/constants/package.json
  packages/constants/src/index.ts
  packages/constants/tsconfig.json
  packages/eslint-config/eslint.config.mjs
  packages/eslint-config/package.json
  packages/eslint-config/src/base.js
  packages/eslint-config/src/elysia.js
  packages/eslint-config/src/next.js
  packages/eslint-config/src/utils.js
  packages/eslint-config/utils.js
  packages/schemas/eslint.config.mjs
  packages/schemas/package.json
  packages/schemas/src/index.ts
  packages/schemas/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 pino
  apps/elysia/src/libs/index.ts
  apps/elysia/src/libs/pino.ts
Due: prettier --write

refactor: 💡 tsconfig
  apps/elysia/src/libs/redis.ts
  apps/elysia/tsconfig.json
  apps/next/tsconfig.json
Due: prettier --write

refactor: 💡 pino
  apps/elysia/src/index.ts
  apps/elysia/src/libs/pino.ts
Due: prettier --write

refactor: 💡 schema
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/schema.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/api/users/schema.ts
Due: prettier --write

refactor: 💡 constants
  apps/elysia/src/api/auth/schema.ts
  apps/elysia/src/api/users/schema.ts
  apps/elysia/src/constants/index.ts
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/schema.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/schema.ts
  apps/next/src/app/_example/modules/schema.ts
  apps/next/src/app/authentication/login/_layout/modules/schema.ts
  apps/next/src/app/authentication/register/_layout/modules/schema.ts
  apps/next/src/constants/index.ts
  apps/next/src/constants/schemaMessage.ts
  packages/constants/src/index.ts
  packages/constants/src/schemaMessage.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 frontend
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/schema.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/schema.ts
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/schema.ts
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/schema.ts
  apps/next/src/components/templates/LogoutButton.tsx
  apps/next/src/components/templates/SubmitButton.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 variable name from template log to log template
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/hooks/useLocalStorage.ts
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/server/getImageBase64.ts
  packages/utils/src/index.ts
  packages/utils/src/logTemplate.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 remove schemas from packages
  apps/elysia/package.json
  apps/elysia/tsconfig.json
  apps/next/package.json
  apps/next/tsconfig.json
  packages/schemas/eslint.config.mjs
  packages/schemas/package.json
  packages/schemas/src/index.ts
  packages/schemas/tsconfig.json
Due: prettier --write

refactor: 💡 lintstagedrc
  .lintstagedrc
Due: none

refactor: 💡 to lower case
  apps/elysia/src/utils/handle-prisma-error/extract.ts
  apps/elysia/src/utils/verifyAccessToken.ts
  apps/next/src/hooks/useLocalStorage.ts
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/server/getImageBase64.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ turbo.json
  turbo.json
Due: prettier --write

refactor: 💡 metadata
  apps/next/src/app/page.tsx
  apps/next/src/constants/index.ts
  apps/next/src/constants/metadata.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 swagger
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/users/swagger.ts
Due: prettier --write

refactor: 💡 elysia
  apps/elysia/prisma/models/session.prisma
  apps/elysia/prisma/models/users.prisma
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/api/users/service.ts
  apps/elysia/src/index.ts
  apps/elysia/src/libs/index.ts
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/elysia/src/utils/index.ts
  apps/elysia/src/utils/plugins/corsPlugin.ts
  apps/elysia/src/utils/plugins/index.ts
  apps/elysia/src/utils/plugins/jwtPlugin.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/elysia/src/utils/plugins/swaggerPlugin.ts
  apps/elysia/src/utils/worker/cleanupSessionsWorker.ts
  apps/elysia/src/utils/worker/index.ts
  apps/next/package.json
  apps/next/src/utils/api/base.ts
  package.json
  pnpm-lock.yaml
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 just new line
  apps/elysia/src/libs/redis.ts
Due: prettier --write

refactor: 💡 consistency
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/index.ts
  apps/elysia/src/utils/verifyAccessToken.ts
Due: prettier --write

refactor: 💡 viewport
  apps/next/src/app/(authed)/(user)/password/change/page.tsx
  apps/next/src/app/(authed)/(user)/profile/page.tsx
  apps/next/src/app/(example)/admin-example/page.tsx
  apps/next/src/app/(example)/home-example/page.tsx
  apps/next/src/app/(example)/user-example/page.tsx
  apps/next/src/app/authentication/login/page.tsx
  apps/next/src/app/authentication/register/page.tsx
  apps/next/src/app/denied/page.tsx
  apps/next/src/app/not-found.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 viewport
  apps/next/src/app/layout.tsx
  apps/next/src/app/page.tsx
  apps/next/src/constants/metadata.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 config
  apps/next/configs/authentication.ts
  apps/next/docs/example.codediagram
  apps/next/docs/example.drawio
  apps/next/docs/example.postman_collection.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 error message
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
Due: prettier --write

chore: ⚙️ migrate
  apps/elysia/prisma/migrations/20260501170832/migration.sql
Due: none

feat: 🎉 vitest
  .husky/pre-push
  apps/next/jest.config.ts
  apps/next/package.json
  apps/next/src/hooks/test/useToast.spec.ts
  apps/next/src/utils/test/validations.spec.ts
  apps/next/tsconfig.json
  apps/next/vitest.config.ts
  apps/next/vitest.setup.ts
  package.json
  pnpm-lock.yaml
  turbo.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write
