Repository gdwmw/Fullstack-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor(security): 💡 env
  apps/elysia/src/index.ts
  apps/next/configs/authentication.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/layout.tsx
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/environments/index.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/base.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 protected route plugin
  apps/elysia/src/api/audit/route.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/utils/plugins/index.ts
  apps/elysia/src/utils/plugins/protectedRoutePlugin.ts
Due: prettier --write

refactor: 💡 upload
  apps/elysia/src/api/upload/schema.ts
  apps/elysia/src/api/upload/service.ts
Due: prettier --write

revert: ⏪️ eslint-config
  packages/eslint-config/src/next.js
  packages/eslint-config/src/utils.js
Due: prettier --write

refactor: 💡 audit
  apps/elysia/src/api/audit/service.ts
Due: prettier --write

refactor: 💡 import
  apps/elysia/src/constants/test/omits.spec.ts
  apps/elysia/src/constants/test/responseMessage.spec.ts
  apps/elysia/src/constants/test/responseTemplate.spec.ts
  apps/elysia/src/utils/plugins/protectedRoutePlugin.ts
  apps/elysia/src/utils/test/handlePrismaError.spec.ts
  apps/elysia/src/utils/test/verifyAccessToken.spec.ts
Due: prettier --write

refactor: 💡 logging
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
Due: prettier --write

refactor: 💡 prisma
  README.md
  apps/elysia/package.json
  apps/elysia/prisma/migrations/20260510135126/migration.sql
  apps/elysia/prisma/models/files.prisma
  apps/elysia/prisma/models/session.prisma
  apps/elysia/prisma/models/users.prisma
  apps/elysia/prisma/schema.prisma
Due: prettier --write

refactor: 💡 react query
  apps/next/src/app/(authed)/(admin)/audit/_layout/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/libs/providers/ReactQueryProvider.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 next auth
  apps/elysia/src/utils/worker/cleanupLogsWorker.ts
  apps/elysia/src/utils/worker/databaseBackupWorker.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 jotai
  apps/next/src/context/useGlobalContext.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 hooks
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/hooks/index.ts
  apps/next/src/hooks/test/useToast.spec.ts
  apps/next/src/hooks/useToast.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 schema message
  packages/constants/src/schemaMessage.ts
Due: prettier --write

refactor: 💡 login
  apps/next/configs/authentication.ts
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/utils/api/authentication/login.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 session
  apps/next/src/libs/providers/NextAuthProvider.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

docs: 📝 readme
  .prettierignore
  README.md
  apps/elysia/.prettierignore
  apps/next/.prettierignore
Due: none

refactor: 💡 commit dulu
  apps/elysia/prisma/models/session.prisma
  apps/elysia/prisma/models/users.prisma
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/users/swagger.ts
  apps/elysia/src/index.ts
  apps/elysia/src/utils/worker/cleanupSessionsWorker.ts
  apps/elysia/src/utils/worker/index.ts
  apps/next/configs/authentication.ts
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/authentication/login.ts
  apps/next/src/utils/api/authentication/refresh.ts
  todo.md
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ database
  apps/elysia/prisma/migrations/20260511120150/migration.sql
Due: none

refactor: 💡 react query
  apps/next/src/libs/providers/ReactQueryProvider.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 lower case
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/users/swagger.ts
  apps/elysia/src/constants/responseMessage.ts
  apps/elysia/src/constants/test/responseMessage.spec.ts
  apps/next/src/utils/math.ts
  apps/next/src/utils/server/getImageBase64.ts
  apps/next/src/utils/test/math.spec.ts
  packages/constants/src/schemaMessage.ts
  packages/utils/src/parseDurationToMs.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 simplify
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/utils/logCompression.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/elysia/src/utils/verifyAccessToken.ts
  apps/elysia/src/utils/worker/cleanupLogsWorker.ts
  apps/elysia/src/utils/worker/databaseBackupWorker.ts
Due: prettier --write

refactor: 💡 schema
  apps/elysia/src/api/audit/schema.ts
Due: prettier --write

style: ✨ eslint
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/index.ts
  apps/elysia/src/utils/worker/index.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditArchiveList.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditTable.tsx
  apps/next/src/libs/twm.ts
  apps/next/src/proxy.ts
  packages/eslint-config/src/base.js
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

docs: 📝 todo
  apps/elysia/todo.md
  apps/next/todo.md
  todo.md
Due: none

refactor: 💡 prisma model
  apps/elysia/prisma/migrations/20260511154843/migration.sql
  apps/elysia/prisma/models/files.prisma
  apps/elysia/prisma/models/users.prisma
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/upload/schema.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/upload/type.ts
  apps/elysia/src/api/users/schema.ts
  apps/elysia/src/api/users/service.ts
  apps/elysia/src/api/users/swagger.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/next/configs/authentication.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/utils/api/audit.ts
  apps/next/src/utils/api/upload.ts
  apps/next/src/utils/api/users.ts
  packages/constants/src/schemaMessage.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

test: 🧪 lower case
  apps/elysia/src/constants/test/responseMessage.spec.ts
Due: prettier --write

refactor: 💡 audit
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/batches/modal/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditPagination.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditTable.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 log
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
Due: prettier --write

fix: 🔧 log
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
Due: prettier --write

build: 📦️ update dependencies
  .commitlintrc.cjs
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  apps/next/package.json
  package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

build: 📦️ update dependencies
  apps/next/package.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 💡 ip address
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/batches/modal/index.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 add zstd logger
  AUDIT.md
  apps/elysia/src/utils/logCompression.ts
Due: prettier --write

docs: 📝 readme
  README.md
  public/project/1.png
  public/project/2.png
  public/project/3.png
  public/project/4.png
  public/project/5.png
  public/project/6.png
  public/project/7.png
Due: none

docs: 📝 readme
  .vscode/extensions.json
  README.md
Due: prettier --write

docs: 📝 readme
  README.md
Due: none

refactor: 💡 audir
  apps/elysia/src/api/audit/service.ts
Due: prettier --write

feat: 🎉 time from to
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/utils/api/audit.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ public
  apps/elysia/public/.gitkeep
  apps/elysia/public/project/1.png
  apps/elysia/public/project/2.png
  apps/elysia/public/project/3.png
  apps/next/public/assets/images/project/1.png
  apps/next/public/assets/images/project/2.png
  apps/next/public/assets/images/project/3.png
  apps/next/public/assets/images/project/4.png
  apps/next/public/assets/images/project/5.png
  apps/next/public/assets/images/project/6.png
Due: none

refactor: 💡 types
  .lintstagedrc
  apps/elysia/package.json
  apps/elysia/prisma/models/users.prisma
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/users/service.ts
  apps/elysia/src/constants/index.ts
  apps/elysia/src/constants/omits.ts
  apps/elysia/src/constants/test/omits.spec.ts
  apps/elysia/tsconfig.json
  apps/next/package.json
  apps/next/src/utils/api/authentication/index.ts
  apps/next/src/utils/api/authentication/me.ts
  apps/next/src/utils/api/authentication/password.ts
  apps/next/src/utils/api/upload.ts
  apps/next/src/utils/api/users.ts
  apps/next/src/utils/server/session.ts
  apps/next/tsconfig.json
  packages/types/eslint.config.mjs
  packages/types/package.json
  packages/types/src/files.ts
  packages/types/src/index.ts
  packages/types/src/users.ts
  packages/types/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

Path conditions:
  bash -c 'cd apps/next && eslint --fix': any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}
  bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0': any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: (any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{js,jsx,ts,tsx,mjs,cjs,json,css})
