Repository gdwmw/Fullstack-Boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 tsconfig
  apps/elysia/tsconfig.json
  apps/next/tsconfig.json
  packages/types/src/files.ts
  packages/types/src/users.ts
  packages/types/tsconfig.json
  tsconfig.base.json
Due: prettier --write

refactor: 💡 import
  apps/next/src/utils/api/authentication/login.ts
  apps/next/src/utils/api/authentication/password.ts
  apps/next/src/utils/api/authentication/refresh.ts
  apps/next/src/utils/api/authentication/register.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 types
  apps/next/src/utils/api/audit.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ migrate
  apps/elysia/prisma/migrations/20260513094441/migration.sql
Due: none

refactor: 💡 upload
  apps/elysia/prisma/models/files.prisma
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/upload/type.ts
  packages/types/src/files.ts
Due: prettier --write

refactor: 💡 upload
  apps/elysia/src/api/upload/service.ts
  packages/types/src/files.ts
Due: prettier --write

chore: ⚙️ migrate
  apps/elysia/prisma/migrations/20260514051639/migration.sql
Due: none

feat: 🎉 meta
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/upload/schema.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/api/users/schema.ts
  apps/elysia/src/api/users/service.ts
  apps/elysia/src/api/users/swagger.ts
  apps/elysia/src/api/users/type.ts
  apps/elysia/src/constants/responseTemplate.ts
  apps/elysia/src/constants/test/responseTemplate.spec.ts
  apps/elysia/src/utils/index.ts
  apps/elysia/src/utils/pagination.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/components/AuditPagination.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/utils/api/audit.ts
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/api/example.ts
  apps/next/src/utils/api/upload.ts
  apps/next/src/utils/api/users.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

chore: ⚙️ copilot instructions
  .github/copilot-instructions.md
Due: none

chore: ⚙️ vscode extensions
  .vscode/extensions.json
Due: prettier --write

refactor: 💡 boilerplate
  .github/copilot-instructions.md
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/api/upload/schema.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/upload/type.ts
  apps/elysia/src/api/users/swagger.ts
  packages/constants/src/schemaMessage.ts
  packages/schemas/src/auth.ts
Due: prettier --write

refactor: 💡 boilerplate
  .github/copilot-instructions.md
  apps/next/src/libs/twm.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 copilot instructions
  .github/copilot-instructions.md
Due: none

docs: 📝 copilot
  .github/copilot-instructions.md
Due: none

fix: 🔧 auth
  apps/elysia/.env.example
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/environment.ts
  apps/next/.env.example
  apps/next/configs/authentication.ts
  apps/next/package.json
  apps/next/src/app/api/auth/decrypt/route.ts
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/environments/env.server.ts
  apps/next/src/libs/providers/NextAuthProvider.tsx
  apps/next/src/utils/api/authentication/index.ts
  apps/next/src/utils/api/authentication/refresh.ts
  package.json
  packages/eslint-config/package.json
  packages/utils/package.json
  packages/utils/src/cryptoToken.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
  turbo.json
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 elysia
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/upload/type.ts
  apps/elysia/src/api/users/swagger.ts
  apps/elysia/src/api/users/type.ts
Due: prettier --write

build: 📦️ update dependencies
  package.json
Due: prettier --write

refactor: 💡 boilerplate
  .github/copilot-instructions.md
  apps/elysia/src/api/audit/route.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/constants/responseTemplate.ts
  apps/elysia/src/constants/test/responseTemplate.spec.ts
  apps/elysia/src/utils/pagination.ts
  apps/next/configs/authentication.ts
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/types/assets.d.ts
  apps/next/src/utils/api/audit.ts
  apps/next/src/utils/api/authentication/login.ts
  apps/next/src/utils/api/authentication/logout.ts
  apps/next/src/utils/api/authentication/me.ts
  apps/next/src/utils/api/authentication/password.ts
  apps/next/src/utils/api/authentication/refresh.ts
  apps/next/src/utils/api/authentication/register.ts
  apps/next/src/utils/api/base.ts
  apps/next/src/utils/api/example.ts
  apps/next/src/utils/api/upload.ts
  apps/next/src/utils/api/users.ts
  packages/types/src/index.ts
  packages/types/src/queryParams.ts
  packages/types/src/response.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

fix: 🔧 audit
  apps/elysia/src/api/audit/route.ts
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/utils/api/audit.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

docs: 📝 package
  README.md
  apps/elysia/package.json
  package.json
  turbo.json
Due: prettier --write

build: 📦️ update dependencies
  .github/copilot-instructions.md
  apps/next/src/app/_layout/modules/main/index-example.tsx
  apps/next/src/app/layout.tsx
  apps/next/src/components/elements/example/C/ExampleInput.tsx
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/components/templates/Container.tsx
  packages/eslint-config/src/next.js
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 boilerplate
  .github/copilot-instructions.md
  apps/next/src/components/elements/example/A/ExampleA.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

build: 📦️ update dependencies
  apps/next/package.json
  package.json
  packages/eslint-config/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 💡 boilerplate
  .github/copilot-instructions.md
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/schema.ts
  apps/elysia/src/api/auth/type.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/next/src/app/(authed)/(admin)/audit/_layout/index.tsx
  apps/next/src/app/(authed)/(admin)/audit/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/main/index.tsx
  apps/next/src/app/(authed)/(user)/password/change/_layout/modules/schema.ts
  apps/next/src/app/authentication/login/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/login/_layout/modules/schema.ts
  apps/next/src/app/authentication/register/_layout/modules/main/index.tsx
  apps/next/src/app/authentication/register/_layout/modules/schema.ts
  apps/next/src/components/templates/APIConnectionChecker.tsx
  apps/next/src/libs/providers/NextAuthProvider.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 boilerplate
  .github/copilot-instructions.md
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/auth/route.ts
  apps/next/src/libs/providers/ReactQueryProvider.tsx
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

build: 📦️ update dependencies
  apps/next/package.json
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

refactor: 💡 boilerplate
  .github/copilot-instructions.md
  apps/elysia/package.json
  apps/elysia/prisma/models/users.prisma
  apps/next/package.json
  apps/next/src/components/README.md
  apps/next/src/components/elements/example/B/stories/ExampleB.stories.tsx
  apps/next/src/components/elements/example/B/stories/StoriesLayout.tsx
  apps/next/src/components/elements/example/C/ExampleTextarea.tsx
  apps/next/src/components/elements/example/C/index.ts
  apps/next/src/components/elements/example/C/stories/ExampleC.stories.tsx
  apps/next/src/components/elements/example/C/stories/StoriesLayout.tsx
  package.json
  packages/eslint-config/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

refactor: 💡 elysia direct import
  apps/elysia/src/api/audit/index.ts
  apps/elysia/src/api/audit/route.ts
  apps/elysia/src/api/audit/schema.ts
  apps/elysia/src/api/audit/service.ts
  apps/elysia/src/api/audit/swagger.ts
  apps/elysia/src/api/auth/index.ts
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/service.ts
  apps/elysia/src/api/auth/swagger.ts
  apps/elysia/src/api/index.ts
  apps/elysia/src/api/upload/index.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/upload/schema.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/upload/swagger.ts
  apps/elysia/src/api/users/index.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/api/users/schema.ts
  apps/elysia/src/api/users/service.ts
  apps/elysia/src/api/users/swagger.ts
  apps/elysia/src/constants/index.ts
  apps/elysia/src/constants/test/responseMessage.spec.ts
  apps/elysia/src/constants/test/responseTemplate.spec.ts
  apps/elysia/src/index.ts
  apps/elysia/src/libs/index.ts
  apps/elysia/src/utils/handle-prisma-error/handlePrismaError.ts
  apps/elysia/src/utils/handle-prisma-error/index.ts
  apps/elysia/src/utils/index.ts
  apps/elysia/src/utils/logCompression.ts
  apps/elysia/src/utils/plugins/index.ts
  apps/elysia/src/utils/plugins/protectedRoutePlugin.ts
  apps/elysia/src/utils/plugins/requestLoggerPlugin.ts
  apps/elysia/src/utils/test/handlePrismaError.spec.ts
  apps/elysia/src/utils/test/verifyAccessToken.spec.ts
  apps/elysia/src/utils/verifyAccessToken.ts
  apps/elysia/src/utils/worker/cleanupLogsWorker.ts
  apps/elysia/src/utils/worker/databaseBackupWorker.ts
  apps/elysia/src/utils/worker/index.ts
Due: prettier --write

docs: 📝 instructions
  .github/copilot-instructions.md
Due: none

refactor: 💡 boilerplate
  apps/elysia/src/api/audit/route.ts
  apps/elysia/src/api/auth/route.ts
  apps/elysia/src/api/auth/type.ts
  apps/elysia/src/api/upload/route.ts
  apps/elysia/src/api/upload/schema.ts
  apps/elysia/src/api/upload/service.ts
  apps/elysia/src/api/users/route.ts
  apps/elysia/src/api/users/type.ts
  apps/next/src/app/(authed)/(user)/profile/_layout/modules/main/index.tsx
  packages/constants/src/files.ts
  packages/constants/src/index.ts
  packages/constants/tsconfig.json
  packages/schemas/tsconfig.json
  packages/types/src/files.ts
Due: bash -c 'cd apps/next && eslint --fix', bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0', prettier --write

Path conditions:
  bash -c 'cd apps/next && eslint --fix': any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}
  bash -c 'cd apps/next && eslint --no-warn-ignored --max-warnings 0': any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}
  prettier --write: (any of: apps/next/**/*.{js,jsx,ts,tsx,mjs,cjs}) or (any of: *.{js,jsx,ts,tsx,mjs,cjs,json,css})
